/* Define Customizable Variables */
:root {
    --icon-color: black;
    --icon-size: 24px;
    --icon-spacing: 10px;
}

.pointed-arrow-down-fill::before {
    font-size: var(--icon-size);
    color: var(--icon-color);
    margin-right: var(--icon-spacing);
}
